@mixin flex {
  display: flex;
}
@mixin flex-center {
  display: flex;
  align-items: center;
}
@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-start {
  display: flex;
  align-items: flex-start;
}
@mixin flex-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
